@model RESTCountries.Models.Country


<div><b>Countries</b><br /></div>
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Country Name</th>
        <th>Country Capital City</th>
        <th>Country Totatl Population</th>
        <th>Country official Currencies</th>
        <th>Country official Languages</th>
        <th>Country Neibouring Countries</th>


    </tr>

    <tr>
        <td>@Model.Name</td>
        <td>@Model.Capital</td>
        <td>@Model.Population</td>
        @foreach (var currency in Model.Currencies)
        {
            <td><b>Name: </b> @currency.Name <br> <b>Symbol: </b> @currency.Symbol</td>
        }
        <td>
            @foreach (var languages in Model.Languages)
            {
                @languages.Name <br>

            }
        </td>

        <td>
            @foreach (var border in Model.Borders)
            {
            <a href="@border.ToString()">@border.ToString()</a>  <br>
            }
        </td>

    </tr>


</table>  